.tasks-list {
  margin: 0;
  padding: 0;
  background: white;
}

.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}

.task-item {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #eee solid 1px;
}

.task-item .text {
  margin-left: 10px;
}

.task-item.checked {
  color: #888;
}

.task-item.checked .text {
  text-decoration: line-through;
}

.task-item.private {
  background: #eee;
  border-color: #ddd;
}
